/******************************************* These rules govern the Header/Navigation bar ******************************/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #333;
}

/******************************************* End of Header/Navigation bar *********************************************/

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline:none;
	cursor: pointer;
}

body {
	text-align: center;
    background-color:#fff;
    font:14px/1.3 Arial,sans-serif;
	margin-left: auto;
    margin-right: auto;
	margin-top:auto;
	margin-top:auto;
}

/******************************************* Last.FM Search Results *************************************************/

#lastFMDataFormat {
	margin:0 auto;
	height:100px;
	width:900px;
	padding:2%;
	font-size:14px;
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

#lastFMArtistResults, #lastFMAlbumResults, #lastFMTrackResults{
	float:left;
	width:300px;
	display:inline-block;
}

/******************************************* End Last.FM Search Results *********************************************/

/******************************************* Card *******************************************************************/

.card {
	width: 325px;
	height: auto;
	margin: 0 auto;
	visibility: hidden;
	text-overflow: hidden;
	
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}

.card .cardDescription {
	text-align: left;
	overflow: hidden;
}

.card .cardImage {
	width: 100%;
	height: auto;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
	padding: 2px 16px;
}

/******************************************* End Card *******************************************************************/